.pdf{
    display: block;
    height: 92vh;
}

code{
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: grey;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

@media screen and (max-width:500px) {
    .pdf{
        height: 600px;
        margin-top: 10px;
      }

}