
<!-- <div class="pdf-container">
    <pdf-viewer class="pdf" [fit-to-page]="true" [autoresize]="true"  src="../../assets/resume.pdf"></pdf-viewer>
</div> -->

<div class="resume">
    <div class="title">
        <h4>Software Engineer</h4>
        <hr>
        <p>Seeking a challenging and rewarding opportunity with an organization which recognizes and utilizes my true potential.</p>
    </div>
    <div class="contact-details">
      <div class="email-phone">
        <div class="details">
          
          <p class="link"><img src="../../assets/location.png" class="logo" alt=""> Delhi, India</p>
      </div>
      <h6>|</h6>
        <div class="details">
          <a href="mailto:ishan.77775@gmail.com" class="link"><img src="../../assets/gmail.png" class="logo" alt=""> ishan.77775@gmail.com</a>
      </div>
      <h6>|</h6>
        <div class="details">
            <p class="link"><img src="../../assets/phone.png" class="logo" alt=""> +918826540547</p>
        </div>
         

      </div>

    </div>
    <div class="resume-content">
      <div class="left-box">
        <div class="links">
          <div class="details">
           <a href="https://github.com/ishanrohatgi" class="link"><img class="logo" src="../../assets/github.png" alt="github"> @ishanrohatgi</a>
          </div>
          <div class="details">
              <a href="https://www.linkedin.com/in/ishanrohatgi/" class="link"><img class="logo" src="../../assets/linkedin.png" alt="linkedin"> @ishanrohatgi</a>
          </div>
          
        </div>
        <div class="skills">
          <h5>SKILLS</h5>
          <hr>
          <div class="skill-items">
            <div class="skill">
              Angular
            </div>
            <div class="skill">
              ReactJS
            </div>
            <div class="skill">
              LWC
            </div>
            <div class="skill">
              TypeScript
            </div>
           <div class="skill">
              JavaScript
            </div>
            <div class="skill">
              HTML 5
            </div>
            <div class="skill">
              CSS 3
            </div>
            <div class="skill">
              SQL
            </div>
            <div class="skill">
              MongoDB
            </div>
            <div class="skill">
              ExpressJS
            </div>
            <div class="skill">
              NodeJS
            </div> 
            <div class="skill">
              NodeJS
            </div> 
            <div class="skill">
              C++/C
            </div> 
            <div class="skill">
              Salesforce
            </div> 
            <div class="skill">
              Apex
            </div> 
            <div class="skill">
              OOPS
            </div> 
          </div>
        </div>
        <div class="coding-profiles">
          <h5>CODING PROFILES</h5>
          <hr>
          <div class="links">
            <div class="details">
             <a href="https://www.hackerrank.com/ishan_77775" class="link"><img class="logo" src="../../assets/hacker.png" alt="hackerrank"> @ishan_77775</a>
            </div>
            <div class="details">
                <a href="https://leetcode.com/ishanRohatgi/" class="link"><img class="logo" src="../../assets/leetcode.png" alt="leetcode">@ishanRohatgi</a>
            </div>
            
          </div>
        </div>
        <div class="languages">
          <h5>LANGUAGES</h5>
          <hr>
          <h6>English</h6>
          <p>Full Professional Proficiency</p>
          <h6>Hindi</h6>
          <p>Native or Bilingual Proficiency</p>
        </div>
        <div class="interests">
          <h5>INTERESTS</h5>
          <hr>
          <div class="skill-items">
            <div class="skill">
              Calligraphy
            </div>
            <div class="skill">
              Cooking
            </div>
            <div class="skill">
              Socializing
            </div>
          </div>
        </div>
      </div>
      <div class="right-box">
        <div class="work-exp">
          <h5>WORK EXPERIENCE</h5>
          <hr>
          <div class="exp">
            <h6>Systems Engineer</h6>
            <h6 >Tata Consultancy Services</h6>
            <div class="exp-duration">
              <div class="duratation"><p>05/2022-Present</p></div>
              <div class="loc">Noida, India</div>
            </div>
            <ul class="exp-details">
              <li>Developed various components using LWC framework.</li>
              <li>Implemented various automations using flow and other declarative development tools.</li>
              <li>Implemented various backend functionalities using APEX and SOQL considering governer
                Limits.</li>
            </ul>
          </div>
          <div class="exp">
            <h6>Associate Technology-L1</h6>
            <h6 >Publicis Sapient</h6>
            <div class="exp-duration">
              <div class="duratation"><p>09/2021 - 05/2022</p></div>
              <div class="loc">Gurugram, India</div>
            </div>
            <ul class="exp-details">
              <li>build various components using angular, for customer management web-app.</li>
              <li>Integrated various REST API's.</li>
              <li>Improved and maintained best code quaility to improve application performance.</li>
              <li>maintained and fixed bugs for the exisiting functionality. </li>
            </ul>
          </div>
          
        </div>
        <div class="certi">
          <h5>CERTIFICATES</h5>
          <hr>
          <ul>
            <li>Azure Fundamentals az-900</li>
            <li>Salesforce certified platform developer 1</li>
            <li>Python Crash Course Google (Coursera)</li>
            <li>Programming in JAVA (NPTEL)</li>
            <li>Microcontrolers and Microprocessors (NPTEL)</li>
            <li>Digital Circuits NPTEL</li>
          </ul>
        </div>
        <div class="projects">
          <h5>PERSONAL PROJECTS</h5>
          <hr>
          <h6>Youtube Video Downloader- Angular,HTML,CSS,TypeScript, NodeJs, Express, Ytdcore</h6>
          <ul>
            <li>single page apllication which takes the youtube video's url and downloads youtube video on your system.</li>
          </ul>
          <h6>Movie Review system -HTML,CSS,TypeScript, Angular</h6>
          <ul>
            <li>Designed and developed movie review system where you can fetch movies added to JSON server and
              review and rate the movie and get insights about the movie from other users registered on the app.</li>
          </ul>
          <h6>Smart Bin - IoT</h6>
          <ul>
            <li>It's a smart garbage collector which automatically segregates the garbage on the basis of either it is wet or dry and dumps into the classified bin.</li>
          </ul>
        </div>
        <div class="education">
          <h5>EDUCATION</h5>
          <hr>
          <h6>B.Tech Electronics and Communication Engineering</h6>
          <h6>Inderprastha Engineering College - (AKTU)</h6>
          <div class="exp-duration">
            <div class="duratation"><p>08/2017 - 08/2021</p></div>
            <div class="loc">8.2/10</div>
          </div>
        </div>
        <div class="achievement">
          <h5>ACHIEVEMENTS</h5>
          <hr>
          <ul>
            <li>Secured 3rd rank consecutively in 5th,6th and 7th semester in ECE department. Memeber of Gentronics the Electronics Society of ECE department.</li>
          </ul>
        </div>
      </div>
    </div>
    
</div>
<code>&copy; Ishan Rohatgi, 2023</code>