@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.main-navbar{
 /* background: linear-gradient(135deg, #0d1b2a, #1b263b, #0c0f1a);
  backdrop-filter: blur(6px); */
   background: linear-gradient(135deg, #ff007f, #ff4fa3, #d40076);
  backdrop-filter: blur(6px);
    color: white;
    font-family: 'Fira Sans', sans-serif;
  
}
.main-navbar h3{
    padding:8px 4px 2px 20px;
}
.navigation-menu{
    display: flex;
    justify-content: space-between;
}
.main-navbar ul {
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 10px;
    height: inherit;
    padding-top: 5px;
}
.main-navbar ul li{
    padding-right: 5px;
    padding-top: 6px;
    height: inherit;
}

.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.active{
    color: #00f5ff;
}

@media print {
    li .link{
        display: none;
    }
    h3 .link{
        margin-left: 15px;
    }
}