.card{
    padding: 20px 0px;
    width: 320px;
    height: 480px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    /* border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 10px black; */
      background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  color: white;
  font-size:small;

}
.card h5{
    margin: 10px 0px;
    padding: 0px 30px;
    color: white;
    border-radius: 50px;
    background: linear-gradient(135deg, #ff007f, #ff4fa3, #d40076);
  backdrop-filter: blur(6px);
}
.project-img{
    width: 280px;
    height: 180px;
    border-radius: 10px;
    border: 1px solid grey;
} 
.tech-stack{
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.tech-stack img{
    height: 30px;
    width: 30px;
}
.card p{
    padding: 0px 20px;
    text-align: justify;
}
.img-container{
    background-image: url('../../../assets/loading.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.opacity-none{
    opacity: 0;
}

.opacity-visible{
    opacity: 1;
}