<div class="card">
    <div class="img-container">
        <img class="project-img" (load)="loading = true" [src]="image" [ngClass]="{'opacity-none': !loading, 'opacity-visible':loading}">
    </div>
    <h5>{{title}}</h5>
    <p>{{description}}
    </p>
    <div class="tech-stack" ><img *ngFor="let imgUrl of techStack" [src]="imgUrl" alt=""></div>
    <div class="buttons" style="align-self: flex-end;">
        <a [href]="liveUrl"target="_blank"  ><button class="btn btn-secondary" style="color:white; background: #0080ff;; margin-top:40px; margin-right:20px;">Live</button></a>
    </div>
</div>