<div class="main-home">
    <div class="intro">
        <h3>
            JavaScript Developer
        </h3>
        <div class="content">
               <ul>
                <li>Around 2 Years of Professional Exp of working in MNC's with JS.</li>
                <li>Created various UI Projects Using JavaScript and its Frameworks.</li>
                <li>Integrated Various Open-Source/Third Api's with JS applications to create High Performance Web Applications.</li>
                <li>Built and Maintained Various Services/MicroServices using NodeJS.</li>
               </ul>
           </div>
    </div>
    <div class="photo">
        <img src="../../assets/profile.jpg" alt="">
    </div>
    
</div>
<marquee  direction="right" (click)="clicked()"><img  src="../../assets/mario.gif" alt="" [ngClass]="{'jump':jumped===true}"></marquee>
<code>&copy; Ishan Rohatgi, 2023</code>