<div class="main-home">
    <div class="intro">
        <ngx-typed-js [strings]="['Software Engineer', 'Frontend Developer', 'Backend Developer', 'JavaScript ❤er']"
        [loop]="true"
        [typeSpeed]="80"
        [backSpeed]="80"
        [showCursor]="false"
        >
            <h3 class="typing"></h3>
          </ngx-typed-js>
          
        <div class="content">
               <ul>
                <li>2 Years of Professional Experience of working with MNC's on JavaScript</li>
                <li>Created various UI Projects Using JavaScript and its Frameworks like Angular, ReactJS.</li>
                <li>Integrated Various Api's with JS applications to create High Performance Web Applications.</li>
                <li>Worked with various Relational and Non Relational Databases  - Oracle SQL, MongoDB.</li>
                <li>Built and Maintained Various Rest Endpoints using JavaScript.</li>
               </ul>
           </div>
    </div>
    <div class="photo">
       
        <img src="../../assets/profile.jpg" alt="">
        <div class="social">
            <div class="li"><a href="https://www.linkedin.com/in/ishanrohatgi/" target="_blank"><img src="../../assets/linkedin.png" alt=""></a></div>
            <div class="git"><a href="https://github.com/ishanrohatgi" target="_blank"><img src="../../assets/github.png" alt=""></a></div>
            <div class="lc"><a href="https://leetcode.com/ishanRohatgi/" target="_blank"><img src="../../assets/leetcode.png" alt=""></a></div>
            <div class="hr"><a href="https://www.hackerrank.com/ishan_77775" target="_blank"><img src="../../assets/hacker.png" alt=""></a></div>
            <div class="rs"><a href="../../assets/Ishan Frontend.pdf" download="resume.pdf" target="_blank"><img src="../../assets/res.png" alt=""></a></div>
        </div>
    </div>
    
</div>
<marquee  direction="right" (click)="clicked()"><img  src="../../assets/mario.gif" alt="" [ngClass]="{'jump':jumped===true}"></marquee>
<code>&copy; Ishan Rohatgi, 2023</code>
