@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.main-home{
    font-family: 'Fira Sans', sans-serif;
    padding-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap-reverse;
}
.main-home h3{
    background-color: rgb(240, 240, 31);
    border-radius:50px;
    text-align: center;
}
.intro{
    padding: 50px;
    width: 600px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.photo{
    display: flex;
    width:350px;
    justify-content: center;
    align-items: center;
}

.photo img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    filter: drop-shadow(16px 10px 20px rgba(0, 0, 0, 0.363));
}

marquee img{
height: 200px;
width: 200px;
}