<div class="main-home">
    <div class="intro">
        <h3>
            JavaScript Developer
        </h3>
        <div class="content">
            <p>
                Introducing a JavaScript virtuoso, a master of code who turns concepts into reality. With creativity and logic as their allies, they craft captivating websites and powerful applications. This developer's expertise in JavaScript knows no bounds, pushing boundaries and embracing innovation. Prepare to be inspired by their talent and passion as they shape the digital landscape. Get ready to witness greatness in action, led by this extraordinary JavaScript developer.
            </p>
           
        </div>
    </div>
    <div class="photo">
        <img src="../../assets/profile.jpg" alt="">
    </div>
    
</div>
<marquee  direction="right"><img src="../../assets/mario.gif" alt=""></marquee>